:root {
/* 	--azulOkean: #001932; */
/* 	passado no zap */
	--azulOkean: #35455b;
	--laranjaOkean: #944415;
	--vermelho: #a94442;
	--verde: #5cb85c;
	--verdeexcel: #008641;
	--amarelo: #ffc800;
	--branco: #ffffff;
}

.scroll{
	overflow-y: auto;
}
.uppercase {
    text-transform: uppercase;
}

@import
	"https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
	
.glyphicon{
	cursor: pointer;
}
.oculta{
    display: none !important;
}
.bg-white{
	background-color: white !important;
}
.bg-success{
	background-color: #28a745 !important;
}
.bg-danger{
	background-color: #dc3545 !important;
}
.bg-warning{
	background-color: #ffc107 !important;
}
.titulo {
	background-color: var(--azulOkean);
/* 	background-image: url("img_tree.gif"), url("paper.gif"); */
	
}

.w-100{
	width: 100%;
}

.cardOkean{
	background-color: var(--azulOkean) !important;
	color: var(--branco);
	border-radius: 25px;
	text-align: center;
}


.bg-azul{
	background-color: var(--azulOkean) !important;
}

.bg-laranja{
	background-color: var(--laranjaOkean) !important;
}
.laranja{
	color: var(--laranjaOkean) !important;
}

.texto{
	color: var(--branco);
}
.textoGrifado{
	color: var(--laranjaOkean);
}
.panel-heading{
	background-color: var(--azulOkean) !important;
	color: var(--branco) !important
}
.mt15{
    margin-top: 15px;
}

.mt3em{
    margin-top: 3em;
}

body {
	font-size: 15px;
}

.errorInput{
	border: 1px solid red;
}

/*Togle*/
.material-switch > input[type="checkbox"] {
    display: none;   
}

.material-switch > label {
    cursor: pointer;
    height: 0px;
    position: relative; 
    width: 40px;  
}

.btn-primary{
	background-color: var(--azulOkean) !important;
}

.material-switch > label::before {
    background: rgb(0, 0, 0);
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    content: '';
    height: 16px;
    margin-top: -8px;
    position:absolute;
    opacity: 0.3;
    transition: all 0.4s ease-in-out;
    width: 40px;
}
.material-switch > label::after {
    background: rgb(255, 255, 255);
    border-radius: 16px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    content: '';
    height: 24px;
    left: -4px;
    margin-top: -8px;
    position: absolute;
    top: -4px;
    transition: all 0.3s ease-in-out;
    width: 24px;
}
.material-switch > input[type="checkbox"]:checked + label::before {
    background: inherit;
    opacity: 0.5;
}
.material-switch > input[type="checkbox"]:checked + label::after {
    background: inherit;
    left: 20px;
}
.ativo{
	color: white;
	background-color: green;
	border-radius: 50px;
	padding: 2px 8px 2px 8px;
}
.Ok{
	color: white;
	background-color: green;
	border-radius: 50px;
	padding: 2px 8px 2px 8px;
}
.Falha{
	color: white;
	background-color: red;
	border-radius: 50px;
	padding: 2px 8px 2px 8px;
}
.inativo{
	color: white;
	background-color: red;
	border-radius: 50px;
	padding: 2px 8px 2px 8px;
}
.TRABALHANDO{
	color: white;
	background-color: gold;
	border-radius: 50px;
	padding: 2px 8px 2px 8px;
}
.PAUSA{
	color: white;
	background-color: blue;
	border-radius: 50px;
	padding: 2px 8px 2px 8px;
}
.FINALIZADO{
	color: white;
	background-color: green;
	border-radius: 50px;
	padding: 2px 8px 2px 8px;
}
.btnBarco{
	color: white;
	background-color: var(--azulOkean);
	border-radius: 50px;
	padding: 2px 8px 2px 8px;
	font-size: 17px;
/* 	font-size: xxx-large; */
}